.container {
  height: fit-content;
  padding: 232px;
  background-color: pink;
  align-content: space-around;

}

.container h2 {
  font-size: 56px;
  text-align: center;
  margin-bottom: 50px;
}

.username label{
  display: flex;
  margin-bottom: 10px;
}

.username input{
  display: flex;
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 15px;
}

.password label {
  margin-top: 15px;
  display: flex;
  margin-bottom: 0px;
}

.input-group input {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 20%;
  padding: 15px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;

}

button:hover {
  background-color: blueviolet;
}

.error {
  color: red;
  text-align: center;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 10em;
  background-color: black;
}