.container {
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 282px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.capa {
    width: 100%;
    border-radius: 10px;
}

.container h2,
.favoritar {
    padding: 1em;
    text-align: center;
}

.favoritar {
    width: 25px;
}